@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500;600&family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
/* font font-family: 'Merienda', cursive;
font-family: 'Crimson Pro', serif; */
* {
  margin: 0px;
  padding: 0px;
}
#banner {
  background-image: url("/DorisFotos/doris3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
}
#body {
  width: 100%;
  height: 100%;
  background: white;
}
h3,
h1,
h2,
h4,
h5,
h6 {
  text-align: center;
  font-family: "Merienda", cursive;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

/* Header*/

header {
  width: 100%;
  padding: 1em;
}
.conatiner {
  display: grid;
  grid-template-columns: 500px auto;
  align-items: center;
  align-content: center;
  margin-left: 1em;
  margin-right: 1em;
}
.logo {
  padding-left: 15%;
  grid-column: 1/2;
  width: 100%;
}
nav {
  grid-column: 2/3;
}
nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
  padding: 1em;
  align-items: center;
  align-content: center;
}
nav a {
  color: #1b1b1e;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 0.9em;
}
nav a:hover {
  color: #485270;
  font-size: 1em;
}

/* End Header

main
*/
.pprimero {
  text-align: center;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  background-color: white;
  font-size: 1.2em;
  line-height: 1.8em;
  color: #1b1b1e;
}

/* Galeria de Home*/

.grid-para-miniportafolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
  align-items: center;
  align-content: center;
}
.pintura-uno {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}
.pintura-dos {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}
.pintura-tres {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}
.pintura-cuatro {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}
.pintura-cinco {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}
.pintura-seis {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}
.pintura-siete {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
}
.pintura-ocho {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
}
.pintura-nueve {
  grid-column: 3/4;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
}

/*Fin Galeria

Cita
*/

.parrafoencursiva {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  padding: 2em;
  color: #1b1b1e;
}
.parrafoparaautor {
  font-size: 0.9em;
  font-weight: bold;
  color: #3b3c41;
  text-align: center;
  margin-bottom: 4em;
}

/* Boton portafolio */

.gridparabotonportafolio {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.botonparairaportafolio {
  grid-column: 1/2;
  background: #2b3964;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-decoration: none;
  padding: 1.4em 3.5em 1.4em 3.5em;
  text-align: center;
  width: 100px;
}

/* Fin de boton portafolio*/

hr {
  margin-left: 2em;
  margin-right: 2em;
}

/*Conoce A Doris  */

.heading {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
  font-family: "Merienda", cursive;
  font-size: 2em;
  color: #2b3964;
}
.conoceadoris {
  margin-top: 1em;
  margin-bottom: 1em;
}
.conoceadoris img {
  width: 100%;
}
.pprimerodos {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #1b1b1e;
  font-size: 1.2em;
}

/* Articulos*/

.grid-para-exposicion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: center;
  justify-items: center;
  background: #fbfffe;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 3em;
}
.articulo-uno {
  grid-column: 1/2;
  width: 100%;
}
.articulo-dos {
  grid-column: 2/3;
  width: 100%;
}
.articulo-tres {
  grid-column: 3/4;
  width: 100%;
}
article img {
  width: 100%;
}
article {
  height: 600px;
  text-align: center;
}
article h3 {
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}
article p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #1b1b1e;
}
.grid-para-exposicion a {
  text-decoration: none;
  color: #1b1b1e;
}

.grid-para-exposicion a:hover {
  box-shadow: 1px 1px 4px 1px #888;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
  height: 600px;
}

footer {
  background: #1b1b1e;
  color: #6d676e;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 1em;
}
footer h3 {
  font-size: 2em;
  margin-bottom: -0.5em;
}
.getintouchfooter {
  font-size: 1em;
}
.navfooter {
  margin-top: 3em;
  margin-bottom: 3em;
}
.finalfooter {
  margin-top: 3em;
}
footer a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #6d676e;
  font-size: 1em;
}
footer p {
  font-size: 1em;
}
footer a:hover {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  color: #6d676e;
  font-size: 1.1em;
}
.social img {
  width: 3em;
}
.social a:hover {
  border-radius: 50%;
  border: solid 1px #6d676e;
}
